*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body,
html {
    height: 100%;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.list{
    display: grid;


    align-items: center;
}

.list-item{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 25px 30px;
    column-gap: 10px;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;

    border-bottom: 1px solid black;
}

.list-item:last-child{
    border-bottom: 0;
}

.list-item > .prepared{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    width: 25px;
    height: 25px;
}

.list-item > .prepared-true{
}

.list-item > .prepared-true::after{
    content: "";
    display: block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 1;
}

.list-item > .level{
    justify-self: center;
}



.spell-container{
    padding: 10px;
    height: 100vh;
}

.inner-container{
    display: grid;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    white-space: pre-wrap;

    padding: 20px;

    overflow: scroll;
}

.spell-container #back-button {
    position: absolute;
    
    display: grid;
    justify-items: center;

    border: 2px solid black;
    border-radius: 5px; 
    width: 50px;

    left: 85.4%;
    
}

